<launch>

  <include file="$(find turtlebot_nonstop_bringup)/launch/turtlebot_nonstop_demo.launch">
  </include>

  <node pkg="robot_pose_publisher" name="robot_pose_publisher" type="robot_pose_publisher">
    <rosparam>
      is_stamped: true
<!--      map_frame: odom-->
      base_frame: base_footprint
    </rosparam>
  </node>
</launch>
