<launch>
  <group ns="concert">
    <include file="$(find nonstop_concert)/launch/includes/_master.xml"/>
    <include file="$(find nonstop_concert)/launch/includes/_orchestration_hermes_real.xml"/>
    <node pkg="rocon_tf_reconstructor" name="rocon_tf_reconstructor" type="rocon_tf_reconstructor">  </node>
  </group>

  <node pkg="map_service" name="map_relay_service" type="map_service_relay.py"/>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>
