<launch>
    <arg name="robot_name" value="samsung"/>
    <arg name="robot_type" value="turtlebot"/>
    <arg name="concert_name" value="nonstop_concert"/>
    <arg name="rapp_lists" value="nonstop_concert/nonstop.rapps"/>
    <arg name="gateway_watch_loop_period" value="1"/>

  <node pkg="tf" type="static_transform_publisher" name="base_ref" args="0 0 0 0 0 0 /map odom 100" />
  
  <include file="$(find nonstop_concert)/launch/include/_turtlebot.launch">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="robot_type" value="$(arg robot_type)"/>
    <arg name="concert_name" value="$(arg concert_name)"/>
    <arg name="rapp_lists" value="$(arg rapp_lists)"/>
    <arg name="gateway_watch_loop_period" value="1"/>
  </include>
</launch>
