<launch>
    <group ns="watcher">
      <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find coldeyes_description)/robots/coldeyes_marker.urdf.xacro'" />
      <param name="robot_description" command="$(arg urdf_file)" />

        <node pkg="tf" type="static_transform_publisher" name="base_ref" args="0 0 0 0 0 0 /watcher /watcher/base_link 10" />
        
        <param name="~tf_prefix" value="watcher" />
        <param name="robot_description" command="$(arg urdf_file)" />

        
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
          <param name="publish_frequency" type="double" value="5.0" />
        </node>
    </group> 


    <group ns="stroller">
        <arg name="attached_marker" value="0"/>
        <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_nonstop_description)/robots/kobuki_hexagons_kinect_Marker_$(arg attached_marker).urdf.xacro'" />

        <node pkg="tf" type="static_transform_publisher" name="base_ref" args="0 0 0 0 0 0 /stroller /stroller/base_footprint 10" />
        
        <param name="~tf_prefix" value="stroller" />
        <param name="robot_description" command="$(arg urdf_file)" />

        
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
          <param name="publish_frequency" type="double" value="5.0" />
        </node>
    </group> 

    
    <group ns="softstroller">
        <arg name="attached_marker" value="0"/>
        <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find turtlebot_nonstop_description)/robots/kobuki_hexagons_kinect_Marker_$(arg attached_marker).urdf.xacro'" />

        <node pkg="tf" type="static_transform_publisher" name="base_ref" args="0 0 0 0 0 0 /softstroller /softstroller/base_footprint 10" />
        
        <param name="~tf_prefix" value="softstroller" />
        <param name="robot_description" command="$(arg urdf_file)" />

        
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
          <param name="publish_frequency" type="double" value="5.0" />
        </node>
    </group> 


  <node pkg="marker_localization" type="marker_localization" name="marker_localization" output="screen"> </node>

</launch>
