<launch>
  <include file="$(find turtlebot_navigation)/launch/includes/_velocity_smoother.launch"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="cmd_vel_mux/input/navi_raw"/>
    
<!--    <remap from="move_base_simple/goal" to="stroller/move_base_simple/goal"/>-->
  </node>

  <node pkg="robot_pose_publisher" name="robot_pose_publisher" type="robot_pose_publisher">
    <rosparam>
      is_stamped: true
      base_frame: base_link
    </rosparam>
  </node>
</launch>
